@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&Secular+One&display=swap');

body {
    background-color: #002da81e;
}

.contenedor {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card:hover{
    scale: 105%;
}
.card img {
    width: 18rem;
    margin: auto;
    margin-top: 8px;
    height: 8rem;
}

.card h4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    color: rgb(2, 2, 119);
    height: 50px;
}

.card a {
    margin: auto;
    margin-top: 8px;
}

.top-f{
    top: 4px !important;;
}
.start-f {
    left: 85%!important;
}

/* CSS para posicionar el bade cerca del carrito*/
.cart {
    position: relative;
    margin-right: 15px;
    margin-top: 5px;
}

