@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&Secular+One&display=swap');

body {
    background-color: #002da81e;
}

.contenedor {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardHover:hover{
    scale: 101%;
    border: 1px solid rgba(0, 0, 255, 0.457);
}
.card img {
    width: 90%;
    margin: auto;
    margin-top: 8px;
    height: 8rem;
}

.card h4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    color: rgb(2, 2, 119);
    height: 50px;
}

.card a {
    margin: auto;
    margin-top: 8px;
}
.cardCarrito{
    border-bottom: 1px solid rgba(0, 0, 0, 0.459);
    padding-bottom: 4px;
}
.cardCarrito img{
    width: 100%;
    margin: auto;
    margin-top: 8px;
    height: 8rem;
}

.cardCarrito h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    color: rgb(2, 2, 119);
    margin-bottom: 10px;
}
.cardCarrito .trash{
    display: flex;
    align-items: start;
}

.cardCarrito a {
    margin: auto;
    margin-top: 8px;
}
.cardCarrito input{
    text-align: center;
}
.top-f{
    top: 4px !important;;
}
.start-f {
    left: 85%!important;
}

/* CSS para posicionar el bade cerca del carrito*/
.cart {
    position: relative;
    margin-right: 15px;
    margin-top: 5px;
}

.ml8px{
    margin-left: 8px;
}

.cardPad{
    padding: 0px;
    margin-left: 10px;
}

.menues{
    margin-top: 8px;
}

.menu1{
    margin-right: 5px;
}

.prueba{
    padding: 0px;
    margin: 0px;
}

.precioTotal{
    text-align: end;
    height: 30px;
    font-weight: bolder;
    font-size: 20px;
}

.precioTotal strong{
    color: rgb(2, 2, 119);
}

.center{
    width: 115px;
    scale:53%;
}

.cardPad p{
    margin: 0px;
}

.filter-bar{
    min-width: 200px;
    margin-left: 10px;
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.192);
}

/* Propiedades del sidebar */

.sidebar {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: .25rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.sidebar h4 {
margin-top: 0;
}

.sidebar h5 {
margin-top: 1rem;
font-size: 18px;
}

.sidebar hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top-width: 1px;
    border-top-color: #000000b9;
}

.sidebar .form-check-input {
margin-right: .5rem;
margin-top: .25rem;
}

.sidebar .form-check-label{
    font-weight:lighter;
    font-size: 14px;
    margin-bottom: 0px;
}
.sidebar .form-check-label strong{
    font-weight:600;
}
.sidebar .form-range::-webkit-slider-thumb {
appearance: none;
width: 1rem;
height: 1rem;
background-color: #007bff;
border-radius: 50%;
cursor: pointer;
}

.sidebar .form-range::-moz-range-thumb {
width: 1rem;
height: 1rem;
background-color: #007bff;
border-radius: 50%;
cursor: pointer;
}
.sidebar .form-control{
    padding: 0.2rem 0.2rem
}

.sidebar .form-range::-ms-thumb {
width: 1rem;
height: 1rem;
background-color: #007bff;
border-radius: 50%;
cursor: pointer;
}


/* Propiedades del input range del Precio */
.slider-styled,
.slider-styled .noUi-handle {
    box-shadow: none;
}

/* Hide markers on slider handles */
.slider-styled .noUi-handle::before,
.slider-styled .noUi-handle::after {
    display: none;
}

#price-slider {
    height: 10px;
}

#price-slider .noUi-connect {
    background: #2300ec;
}

#price-slider .noUi-handle {
    height: 14px;
    width: 14px;
    top: -2.5px;
    right: -7px; /* half the width */
    border-radius: 7px;
}

#price-min,
#price-max{
    font-size: 10px;
}
